{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

			
    <div class="column-full">

      <h1 class="heading-xlarge">
        Call data analysis
        <span class="heading-secondary">{{releaseVersion}}</span>
			</h1>{{releaseVersion | log }}
			
			
           
			<h2 class="heading-large">sdWhats the problem we are trying to solve and how does this analysis helps?</h2>
			<p>The Floodline service re-tender (2018) has led the Environment Agency to consider how digital channels 
				could be used to support the service in the future. The analysis displayed on this page provides insight into the usage of floodline which we've used to inform <a href="">reccomendations</a> of where digital can support the delivery of floodline.     
			</p>
	
			<div class="panel panel-border-wide">
					<p>
							The analysis completed is based on data sets collected between November 2015 and October 2017. All data sets are available <a href="#">here - need to add link</a>  </p>
							
					</p>
				</div>
				
			<h2 class="heading-medium">1.0 Call flow for Floodline</h2>
			
							

			<div id="Callflow"></div>

			<h2 class="heading-medium">2.0 Why calls are transferred away from floodline</h2>
			
				<p>
					Reporting flooding and possible causes of flooding represent a significant proportion of the calls transferred away from Floodline. 
					     
				</p>			

			<div id="FloodlineReasonsForTransfer"></div>

			<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
					
								<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
									Further information needed
								</h2>
								<ul class="list list-bullet">
										<li>What is an email override?</li>
										<li>We've assumed that 'Watercourse blockage/potential flood risk' is an enquiry related to
											report flooding. Is that the correct assumption? </li>
										<li>Is 'no answer' when an attempt was made to transfer the call but it failed?</li>
										<li>The number of 'why calls were transferred away from floodline' is higher than 'calls transferred'
											why is this? </li>
		
									</ul>
							
				</div>

			<h2 class="heading-medium">3.0 Outcomes of calls fielded by Floodline</h2>
			
				<p>
					A significant amount of calls are related to the user administration of FWS i.e. check registration details, request registration or cancellations.      
				</p>
		

		
			

			<div id="CallOutcomes"></div>

			<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-3" tabindex="-1">
					
								<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-3">
									Further information needed
								</h2>
								<ul class="list list-bullet">
										<li>Whats the difference between 'Advised to contact council / Local Authority' and 'Advised to contact Council / Local Authority - Flooding'</li>
										<li>The number of 'call outcomes' is lower than the total number of calls. We've assumed this is because 
											not every call has an outcome that can be listed. Is this correct? </li>
								</ul>
							
				</div>

				<h2 class="heading-medium">4.0 More data required</h2>
				<div class="panel panel-border-wide">
						<ul class="list list-bullet">
								<li>Can we get samples of data for during a flood event and peace time, so we can compare?</li>
								
								
								

						</ul>

					</div>


    </div>
  </div>
</main>

{% endblock %}


