{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

			
    <div class="column-full">

      <h1 class="heading-xlarge">
			Recommendations
        <span class="heading-secondary">{{releaseVersion}}</span>
			</h1>{{releaseVersion | log }}
			
			
           
			<h2 class="heading-large">Based on what we have learned during discovery, this is how we think digital can support the Floodline service.</h2>
      
      <h2 class="heading-medium">1.0 Report flooding</h2>
      
      <p> 
          
			</p>
      
      <object data="http://www.powtoon.com/embed/fwrzk2ASkPS/" width="800" height="491">
        <embed src="http://www.powtoon.com/embed/fwrzk2ASkPS/" width="800" height="491"> </embed>
        Error: Embedded data could not be displayed.
    </object>

    </div>
  </div>
</main>

{% endblock %}


