{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

			
    <div class="column-full">

      <h1 class="heading-xlarge">
			Recommendations
        <span class="heading-secondary">{{releaseVersion}}</span>
			</h1>{{releaseVersion | log }}
			
			
           
			<h2 class="heading-large">Based on what we have learned during discovery, this is how we think digital can support the Floodline service.</h2>
      
      <h2 class="heading-medium">1.0 Report flooding</h2>

      <p>Citizens wishing to report coastal and main river flooding can do so by contacting the Environment Agency Incident hotline using telephone, email and social media. Citizens can report other types of flooding. GOV.UK provides advice and guidance on this <a href="https://www.gov.uk/report-flood-cause">here</a>  (stats?) </p>
      
      <h2 class="heading-small">Observations of the current flood reporting service</h2>

      <ul class="list list-bullet">
      <li>Analysis of call data shows 2,454 over past 24 months contacted Floodline to report flooding and were then transferred to ICS to complete the transaction. </li>
      <li>Reporting flood incidents peak during evets and its common that duplicate reports for the same incident are recorded. </li>
        <li>Reports sent via social media and email often miss information required to report the incident and this often prompts further contact to establish the facts. </li>
          <li>Identifying the location of a flood incident being reported can extend the length of contact with citizens. This is especially noticed when the location of an incident is in a remote location. </li>
      
    </ul>

      <h2 class="heading-small">User needs</h2>
      <p>A list of user needs for an MVP service is available <a href="https://docs.google.com/spreadsheets/d/1jKGKJvmg_Is8tyfiaZIDQRXiGTKCNOv1psALLtdQV68/edit?usp=sharing">here</a></p>

      <p>The below animation shows how report flooding on GOV.UK might look and work. Work on a GOV.UK report flooding service should consider and complement existing services provided by IM portal and the Collector app.  </p>
      
      
      <iframe width="800" height="450" frameBorder="0" src="/public/images/reportFloodingNoSound.mp4"></iframe>
      <!-- <object data="http://www.powtoon.com/embed/fwrzk2ASkPS/" width="800" height="491">
        <embed src="http://www.powtoon.com/embed/fwrzk2ASkPS/" width="800" height="491"> </embed>
        Error: Embedded data could not be displayed.
    </object> -->

    </div>
  </div>
</main>

{% endblock %}


